each comment in comments
	- var commenter = comment.commenter;
	- var content = comment.commentBodies;
	- var commentDate = new Date(0);
	- commentDate.setUTCSeconds(comment.commentDate);
	- commentDate = commentDate.toLocaleString();
	.comment-area
		p
			| #{commenter} commented:
		.panel.panel-default
			.panel-body
				p.comment-body
					| #{content}
			.panel-footer
				p.left-align #{commentDate} 
				p.right-align #{comment.commentLikes}