each comment in comments
	- var commenter = comment.commenter;
	- var content = comment.commentBodies;
	- var commentDate = new Date(0);
	- commentDate.setUTCSeconds(comment.commentDate);
	- commentDate = commentDate.toLocaleString();
	.comment-area
		p
			| #{commenter} commented:
		.panel.panel-default
			.panel-body
				p.comment-body
					| #{content}
			.panel-footer
				p.pull-left #{commentDate}
				p.pull-right 
					| #{comment.commentLikes} 
					img(src="/img/png/glyphicons-344-thumbs-up.png", class="like-icon")
				.clearfix