div(id="login", class="well")
	input(id="username", placeholder="Username")
	input(id="user_pass", type="password", placeholder="Password")
	br
	button(id="login_button", class="btn btn-primary") Login
	br
	a(href="/create/") New user? Sign up here
	br
	a(href="/forgot/") Forgot password?
	br
	div(id="error_box", class="alert alert-danger", role="alert", style="display:none")
