.newpostarea
	button(class="btn btn-primary", id="show-new-post") Make Post
	.newpost(hidden)
		textarea(id="post-content", cols=50, rows=3, maxlength=300)
		br
		p
			button.btn.btn-primary(id="submit-post") Post
			button.btn.btn-primary(id="cancel-post") Cancel