center
	.list-group.platform-sorting
		table
				tr
					td
						a.list-group-item(href="") PC
					td
						a.list-group-item(href="") PS4
					td
						a.list-group-item(href="") XBOXOne
					td
						a.list-group-item(href="") Wii-U