block content
	- each post in posts
		- var postDate = new Date(0);
		- postDate.setUTCSeconds(post.postCreated);
		- postDate = postDate.toLocaleString();
		.well
			.user-post(id="#{post.postid}")
				p
					| #{post.poster} posted:
				.panel.panel-default
					.panel-body
						p
							| #{post.postContent}
					.panel-footer
						p
							| #{postDate}
					- var comments = post.comments;
					include comments.jade
					textarea.comment-box(rows="2", cols="30", val="")
					button.btn.btn-default.post-comment Comment