extends layout
block content
	include includes/sorting.jade
	script(src="/scripts/updateuser.js")
	.profile
		.well
			img(src="/img/png/glyphicons-4-user.png", class="profile-pic")
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Username
				.panel-body
					p(id="username").
						#{userinfo.username}
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Password
				.panel-body
					p
						input(id="password" value="#{userinfo.password}" type="password")
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Email
				.panel-body
					p
						input(id="email" value="#{userinfo.email}")
			.panel.panel-default
				.panel-heading
					p.panel-header.
						Twitch Stream
				.panel-body
					p
						input(id="twitchid", value="#{userinfo.twitchid}")
			.update-area.clearfix
				.pull-left
					button.btn.btn-default(id="update-user") Update
				.pull-right.alert.status-div(role="alert")
			if userinfo.games != null
				.panel.panel-default
					.panel-heading
						p.panel-header.
							Games
					.panel-body
						- each game in userinfo.games
							include includes/gameitem.jade