doctype
html
	head
		title #{title} - Platformer
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		script(src="/scripts/jquery-2.1.4.min.js")
		script(src="/scripts/bootstrap.js")
		script(src="/scripts/js.cookie.js")
		script(src="/scripts/jquery.sidebar.min.js")
		script(src="/scripts/navfunctions.js")
	body
		header
			include ./includes/navbar.jade
		.container
			.main-content
				block content
			.sidebar
				include ./includes/sidebar.jade
		footer
			p node.js | express | jade