extends layout
block content
	include includes/newpost.jade
	include includes/searches.jade
	- var page = "posts"
	include includes/sorting.jade
	script(src="/scripts/newpost.js")
	script(src="/scripts/newcomment.js")
	script(src="/scripts/likers.js")
	script(src="/scripts/postfilter.js")
	.liker-popup
	.post-area
		- each post in posts
			.well
				include includes/post.jade
				- var comments = post.comments
				- each comment in comments
					include includes/comment.jade
				textarea.comment-box(rows="2", cols="30", val="")
				button.btn.btn-default.post-comment Comment