extends layout
block content
	include includes/newpost.jade
	include includes/searches.jade
	include includes/sorting.jade
	script(src="/scripts/newpost.js")
	script(src="/scripts/newcomment.js")
	.post-area
		include includes/post.jade