extends layout
block content
  include includes/newpost.jade
  include includes/searches.jade
  - var page = "posts"
  include includes/sorting.jade
  script(src="/scripts/newpost.js")
  script(src="/scripts/newcomment.js")
  script(src="/scripts/likers.js")
  script(src="/scripts/likes.js")
  script(src="/scripts/postfilter.js")
  .liker-popup
  .post-area
    - each post in data.posts
      - const poster = data.users[post.userId].username
      - const comments = post.commentIds.map(commentId => data.comments[commentId])
      .well.post-div
        include includes/post.jade
