block content
	- if (locals.query)
		.well
			p.
				#{query}
	- each post in posts
		- var postDate = new Date(0);
		- postDate.setUTCSeconds(post.created);
		- postDate = postDate.toLocaleString();
		.user-post.well
			p
				| #{post.poster} posted:
			.panel.panel-default
				.panel-body
					p
						| #{post.content}
				.panel-footer
					p
						| #{postDate}