extends layout
block content
	include includes/sorting.jade
	.profile
		.well
			img(src="/img/png/glyphicons-4-user.png", class="profile-pic")
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Username
				.panel-body
					p.
						#{userinfo.username}
			.panel.panel-default
				.panel-heading
					p(class="panel-header").
						Email
				.panel-body
					p.
						#{userinfo.email}
			if userinfo.games != null
				.panel.panel-default
					.panel-heading
						p.panel-header.
							Games
					.panel-body
						- each game in userinfo.games
							include includes/gameitem.jade